.GoGame {
  border: 1px dashed #f00;
  .panel-body{
  	text-align: center;
  }
  .GameBtn{
  	display: inline-block;
		width: 40px;
		height: 40px;
		cursor: pointer;
		// background:  url('../images/yeoman.png') no-repeat;
		background-size: cover;
  }
}
